.elementor-639
  .elementor-element.elementor-element-fcc7373:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-639
  .elementor-element.elementor-element-fcc7373
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-639 .elementor-element.elementor-element-fcc7373 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0px 0px 0px;
}
.elementor-639
  .elementor-element.elementor-element-fcc7373
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-639 .elementor-element.elementor-element-e90a67f {
  padding: 0px 0px 20px 0px;
}
.elementor-639 .elementor-element.elementor-element-7a915fd img {
  width: 70%;
}
.elementor-639
  .elementor-element.elementor-element-fa861a8
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-639
  .elementor-element.elementor-element-3670664
  .elementor-heading-title {
  font-size: 35px;
  color: var(--e-global-color-56a8429);
}
.elementor-639 .elementor-element.elementor-element-6117b15 {
  --spacer-size: 20px;
}
.elementor-639
  .elementor-element.elementor-element-4dedc63
  .elementor-heading-title {
  font-size: 25px;
  color: var(--e-global-color-56a8429);
}
.elementor-639
  .elementor-element.elementor-element-68f2088
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-581d037);
  transition: color 0.3s;
}
.elementor-639
  .elementor-element.elementor-element-68f2088
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-581d037);
  transition: fill 0.3s;
}
.elementor-639 .elementor-element.elementor-element-68f2088 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-639
  .elementor-element.elementor-element-68f2088
  .elementor-icon-list-text {
  color: var(--e-global-color-56a8429);
  transition: color 0.3s;
}
.elementor-639
  .elementor-element.elementor-element-015e4c7
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-581d037);
  transition: color 0.3s;
}
.elementor-639
  .elementor-element.elementor-element-015e4c7
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-581d037);
  transition: fill 0.3s;
}
.elementor-639 .elementor-element.elementor-element-015e4c7 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-639
  .elementor-element.elementor-element-015e4c7
  .elementor-icon-list-text {
  color: var(--e-global-color-56a8429);
  transition: color 0.3s;
}
.elementor-639 .elementor-element.elementor-element-2644840 {
  --spacer-size: 10px;
}
.elementor-639
  .elementor-element.elementor-element-c1c75bf
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-639
  .elementor-element.elementor-element-a41490e
  .elementor-heading-title {
  font-size: 35px;
  color: var(--e-global-color-56a8429);
}
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-56a8429);
  fill: var(--e-global-color-56a8429);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-581d037);
  fill: var(--e-global-color-581d037);
}
.elementor-639 .elementor-element.elementor-element-823edfc {
  --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
}
.elementor-639
  .elementor-element.elementor-element-823edfc
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 0px;
}
.elementor-639 .elementor-element.elementor-element-ccdd6cb {
  --spacer-size: 10px;
}
.elementor-639
  .elementor-element.elementor-element-3544110
  .elementor-heading-title {
  font-size: 40px;
  color: var(--e-global-color-56a8429);
}
.elementor-639 .elementor-element.elementor-element-a1fdb3e {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-639
  .elementor-element.elementor-element-a1fdb3e
  .elementor-widget-container {
  text-align: left;
}
.elementor-639
  .elementor-element.elementor-element-a1fdb3e
  .elementor-social-icon {
  background-color: var(--e-global-color-581d037);
}
.elementor-639
  .elementor-element.elementor-element-a1fdb3e
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-56a8429);
}
.elementor-639
  .elementor-element.elementor-element-a1fdb3e
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-581d037);
}
.elementor-639
  .elementor-element.elementor-element-a1fdb3e
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-581d037);
}
.elementor-639 .elementor-element.elementor-element-d25427b {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-639
  .elementor-element.elementor-element-d25427b
  .elementor-widget-container {
  text-align: left;
}
.elementor-639
  .elementor-element.elementor-element-d25427b
  .elementor-social-icon {
  background-color: var(--e-global-color-581d037);
}
.elementor-639
  .elementor-element.elementor-element-d25427b
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-56a8429);
}
.elementor-639
  .elementor-element.elementor-element-d25427b
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-581d037);
}
.elementor-639
  .elementor-element.elementor-element-d25427b
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-581d037);
}
.elementor-639 .elementor-element.elementor-element-08ad839 {
  --divider-border-style: solid;
  --divider-color: #ffffff26;
  --divider-border-width: 1px;
}
.elementor-639
  .elementor-element.elementor-element-08ad839
  .elementor-divider-separator {
  width: 100%;
}
.elementor-639 .elementor-element.elementor-element-08ad839 .elementor-divider {
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-639
  .elementor-element.elementor-element-1e59736:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-639
  .elementor-element.elementor-element-1e59736
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-639
  .elementor-element.elementor-element-1e59736
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 1;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-639 .elementor-element.elementor-element-1e59736 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-639
  .elementor-element.elementor-element-521c884
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
}
.elementor-639 .elementor-element.elementor-element-521c884 {
  text-align: center;
  color: var(--e-global-color-56a8429);
  font-family: "Bebas Neue", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .elementor-639 .elementor-element.elementor-element-fa861a8 {
    width: 27.589%;
  }
  .elementor-639 .elementor-element.elementor-element-c1c75bf {
    width: 22.389%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-639 .elementor-element.elementor-element-31d79cb {
    width: 20%;
  }
  .elementor-639 .elementor-element.elementor-element-fa861a8 {
    width: 32%;
  }
  .elementor-639 .elementor-element.elementor-element-c1c75bf {
    width: 23%;
  }
  .elementor-639 .elementor-element.elementor-element-6023f2f {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .elementor-639 .elementor-element.elementor-element-7a915fd img {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .elementor-639 .elementor-element.elementor-element-fcc7373 {
    padding: 30px 0px 0px 0px;
  }
  .elementor-639
    .elementor-element.elementor-element-c8a9b57
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-639
    .elementor-element.elementor-element-31d79cb
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-639 .elementor-element.elementor-element-7a915fd {
    width: initial;
    max-width: initial;
    text-align: left;
  }
  .elementor-639 .elementor-element.elementor-element-7a915fd img {
    width: 31%;
  }
  .elementor-639
    .elementor-element.elementor-element-fa861a8
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-639
    .elementor-element.elementor-element-c1c75bf
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-639
    .elementor-element.elementor-element-6023f2f
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-639
    .elementor-element.elementor-element-08ad839
    > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-639
    .elementor-element.elementor-element-521c884
    > .elementor-widget-container {
    margin: -10px 0px -20px 0px;
  }
}
